@media only screen and (max-width: 800px){
    #header{
        background-image: url(images/cover-portfolio-mobile.png);
        height: 60vh;
    }
    .header-text{
        margin-top: 50%;
        font-size: 16px;
        padding: 10px;
    }

    .header-text h1{
        font-size: 40px;
        margin-top: 20px;
    }

    .header-text p{
        font-size: 14px;
    }

    nav .fa-solid{
        display: block;
        font-size: 25px;
        cursor: pointer;
    }
    nav ul{
        background:#7e00ff;
        position: fixed;
        top: 0;
        right: -200px;
        width: 200px;
        height: 100vh;
        padding-top: 50px;
        z-index: 2;
        transition: right 0.5s;
    }

    nav ul li{
        display: block;
        margin: 25px;
    }

    nav ul .fa-xmark{
        position: absolute;
        top: 25px;
        left: 25px;
    }

    p{
        font-weight: normal;
        font-size: 20px;
    }



    .row{
        display: flex;
        justify-content: center;
        flex-wrap: wrap;
        padding: 10px;
    }
    
    .tab-contents ul li{
        font-size: 14px;
    }

    .tab-contents ul li img{
        width: 40px;
    }

    .sobre-col-1, .sobre-col-2{
        flex-basis: 100%;
        margin:20px;
    }

    .sobre-col-2 h1{
        font-size: 40px;
    }

    .p-sobre {
        font-size: 14px;
    }
    
    .sobre-col-1 img{
        width: 100%;
    }

    .tab-links{
        font-size: 16px;
        margin-right: 20px;
    }
    

    #contato{
       padding-left: 25px;
    }
    
    .contato-left, .contato-right{
        flex-basis: 50%;
    }

    .contato-right img{
        display: flex;
        justify-content: center;
        width: 200px;

    }

    .contato-right{
        display: flex;
        flex-direction: column;
        justify-content: center;
    }
    

    .contato-left p{
        font-size: 14px;
    }

    .contato-left p i{
        color: #7e00ff;
        margin-right: 15px;
        font-size: 25px;

    }

    .contato-left .sub-title p{
        font-size: 14px;
    }
    
    
    .social-icons a{
        text-decoration: none;
        font-size: 30px;
        margin-right:  15px;
    }
    

    .copyright p{
        font-size: 14px;
    }
}
